<header class="container">
    <div class="section_srv">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrap_srv  box foo">
                <a href="#">
                    <div class="img_srv">
                        <img src="~/images/Logo/build.png" />
                    </div>
                    <div class="ct-srv">Thông Tin Khóa Học</div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrap_srv box foo">
                <a href="#">
                    <div class="img_srv">
                        <img src="~/images/Logo/foma.png" />
                    </div>
                    <div class="ct-srv">Tuyển Sinh Liên Tục</div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrap_srv  box foo">
                <a href="#">
                    <div class="img_srv">
                        <img src="~/images/Logo/pig.png" />
                    </div>
                    <div class="ct-srv">Chi Phí Hấp Dẫn</div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrap_srv box foo">
                <a href="#">
                    <div class="img_srv">
                        <img src="~/images/Logo/sv.png" />
                    </div>
                    <div class="ct-srv">Học Bổng Hàng Khóa</div>
                </a>
            </div>
        </div>
    </div>
</header>
