<header>
    <div class="slider">
        <div class="mySlides">
            <a href="#"><img src="~/images/SlideShow/iamge3.jpg" /></a>
        </div>
        <div class="mySlides">
            <a href="#"><img style="max-height: 391px" src="~/images/Image Briday/Image1.jpg" /></a>

        </div>
        <div class="mySlides">
            <a href="#"><img src="~/images/SlideShow/image2.jpg" /></a>
        </div>
    </div>
</header>
