@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font.css" type="text/css" />
    <link rel="stylesheet" href="~/css/app.css" type="text/css" />
    <script src="~/js/ie/html5shiv.js"></script>
    <script src="~/js/ie/respond.min.js"></script>
    <script src="~/js/ie/excanvas.js"></script>
</head>
<body>
    <section id="content">
        <div class="row m-n">
            <div class="col-sm-4 col-sm-offset-4">
                
                <div class="text-center m-b-lg">
                    <h1 class="h text-white animated fadeInDownBig">404</h1>
                </div>
                <div class="list-group m-b-sm bg-white m-b-lg">
                    <a href="@Url.Action("Index", "Home")" class="list-group-item">
                        <i class="fa fa-chevron-right icon-muted"></i>
                        <i class="fa fa-fw fa-home icon-muted"></i> Goto homepage
                    </a>
                    <a href="@Url.Action("Index", "Home")" class="list-group-item">
                        <i class="fa fa-chevron-right icon-muted"></i>
                        <i class="fa fa-fw fa-question icon-muted"></i> Send us a tip
                    </a>
                    <a href="tel:0968063893" class="list-group-item">
                        <i class="fa fa-chevron-right icon-muted"></i>
                        <span class="badge">+84968063893</span>
                        <i class="fa fa-fw fa-phone icon-muted"></i> Call us
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small> © 2017 Bright Day Center (229990-M). All Rights Reserved.<br>&copy; © 2017</small>
            </p>
        </div>
    </footer>
    <!-- / footer -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.js"></script>
    <!-- App -->
    <script src="~/js/app.js"></script>
    <script src="~/js/app.plugin.js"></script>
    <script src="~/js/slimscroll/jquery.slimscroll.min.js"></script>

</body>
</html>
