<div>
    <div class="heading">
        <h2 class="title-head">
            <a href="noi-bat" title="Tin nổi bật">Tin nổi bật</a>
        </h2>
    </div>
    <div class="list-blogs">
            <div class="blog_list">

                <article class="blog-item blog-item-list col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <h3 class="blog-item-name"><a class="text2line" href="#" title="Gấp rút chuẩn bị hồ sơ du học Canada Visa Ưu tiên kì tháng 9 năm 2017">Gấp rút chuẩn bị hồ sơ du học Canada Visa Ưu tiên kì tháng 9 năm 2017</a></h3>
                </article>

                <article class="blog-item blog-item-list col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <h3 class="blog-item-name"><a class="text2line" href="#" title="Học bổng du học Mỹ khó hay dễ và tìm kiếm thông tin ở đâu?">Học bổng du học Mỹ khó hay dễ và tìm kiếm thông tin ở đâu?</a></h3>
                </article>

                <article class="blog-item blog-item-list col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <h3 class="blog-item-name"><a class="text2line" href="#" title="Hội thảo du học Hàn Quốc: Visa thẳng 100% không cần phỏng vấn">Hội thảo du học Hàn Quốc: Visa thẳng 100% không cần phỏng vấn</a></h3>
                </article>

                <article class="blog-item blog-item-list col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <h3 class="blog-item-name"><a class="text2line" href="#" title="Lương lên đến 8000 Euro chỉ với 1 năm học thạc sĩ TBN">Lương lên đến 8000 Euro chỉ với 1 năm học thạc sĩ TBN</a></h3>
                </article>
        </div>
    </div>
</div>